#email{
    margin-left: 900px;
    margin-right:200px;
    margin-top: 300px;
    width: 400px;
}

#emailTaken{
    margin-left: 960px;
    margin-right:200px;
    margin-top: 5px;
    width:400px;
    visibility: hidden;
}


#username{
    margin-left: 900px;
    margin-right:200px;
    margin-top: 15px;
    width: 400px;
}

#userTaken{
    margin-left: 950px;
    margin-right:200px;
    margin-top: 5px;
    width:400px;
    visibility: hidden;
}


#password{
    margin-left: 900px;
    margin-right:200px;
    margin-top: 15px;
    width:400px;
}

#emptyPassword{
    margin-left: 960px;
    margin-right:200px;
    margin-top: 5px;
    width:400px;
    visibility: hidden;
}


#available{
    margin-left: 1020px;
    margin-right:200px;
    margin-top: 30px;
    width:400px;
    visibility: hidden;
}

#createAccount{
    margin-left: 1025px;
    margin-right:200px;
}

#signIn{
    margin-left: 1052px;
    margin-right:200px;
    margin-top: 90px;
}

body,
html {
    background-image: url('Images/defaultBG.png');
    background-repeat: repeat-y;
    background-size: 50%; 
}