*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
}

.container{
    width: 100%;
    height: 100vh;
    background-image: url('/Profile/images/background.gif');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: top;
    justify-content: center;
}

.profile-box{
    text-align: center;
    padding: 150px 200px;
    color: #fff;
    position: relative;
    border-radius: 20px;
    border: 1px solid black;
    background: wheat;
    height: 600px;
    width: 25%;
    margin: auto;
    box-shadow: 0 2px 3px rgb(47, 47, 47);
    outline: none;
}

.menu-icon{
    width: 50px;
    position: absolute;
    right: 40px;
    top: 40px;
    background-color: white;
    border-radius: 25px;
    padding: 5px 5px 5px 5px;
    cursor: pointer;
}

.home-icon{
    width: 50px;
    position: absolute;
    left: 40px;
    top: 40px;
    background-color: white;
    border-radius: 25px;
    padding: 5px 5px 5px 5px;
    cursor: pointer;
}

.back-icon{
    width: 60px;
    position: absolute;
    left: 40px;
    bottom: 40px;
    background-color: white;
    border-radius: 50px;
    cursor: pointer;
}

.message-icon{
    width: 60px;
    position: absolute;
    right: 40px;
    bottom: 40px;
    background-color: white;
    border-radius: 25px;
    padding: 5px 5px 5px 5px;
    cursor: pointer;
}

.profile-icon{
    width: 120px;
    border-radius: 50%;
    background: white;
    margin-left: 5px;
    margin-right: 5px;
    box-shadow: 0 5px 10px rgb(47, 47, 47);
}

.profile-bio{
    background: white;
    color: black;
    padding: 60px 0;
    margin-right: -100px;
    margin-left: -100px;
    margin-bottom: -100px;
    border-radius: 10px;
    margin-top: 10px;
    border: 1.5px solid black;
    box-shadow: 0 2px 5px rgb(47, 47, 47);
}

.profile-box h3{
    font-size: 22px;
    font-weight: 500;
}

.intro{
    display: flex;
    align-items: center;
    justify-content: center;
}

.description{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fanatic-score{
    background: white;
    color: black;
    padding: 10px 20px 20px 20px;
    border-radius: 10px;
    margin-right: 20px;
    border: none;
    outline: none;
    box-shadow: 0 2px 5px rgb(47, 47, 47);
}

.fanatic-score ol{
    list-style-type: decimal;
    text-align: left;
    padding-left: 20px;
    font-weight: 100px;
}

.trivia-rankings{
    background: white;
    color: black;
    padding: 10px 20px 20px 20px;
    border-radius: 10px;
    margin-right: 20px;
    border: none;
    outline: none;
    box-shadow: 0 2px 5px rgb(47, 47, 47);
}

.trivia-rankings ol{
    list-style-type: decimal;
    text-align: left;
    padding-left: 20px;
    font-weight: 100px;
}

.intro h2{
    background: white;
    color: black;
    border-radius: 5px;
    padding: 1px 5px 1px 5px;
    border: none;
    outline: none;
    box-shadow: 0 2px 3px rgb(47, 47, 47);
}

.logo{
    width: 60px;
    position: absolute;
    margin-top: 35px;
    align-content: center;
    background-color: white;
    border-radius: 50px;
    cursor: pointer;
}

.header{
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;    
    background-color: #fafafa;
    border-radius: 5px;
    padding: 1px 5px 1px 5px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 2px 5px rgb(47, 47, 47);
    border: none;
    outline: none;
}

.header h2{
    color: black;
}

.points-icon{
    width: 25px;
    margin-right: 5px;
    border-radius: 5px;
}

.bio-header{
    margin-top: 25px;
    background-color: white;
    color: black;
    width: fit-content;
    align-items: center;
    border-radius: 5px;
    padding: 1px 5px 1px 5px;
    border: none;
    outline: none;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 2px 3px rgb(47, 47, 47);
}

.music-player {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    position: absolute;
    align-content: center;
    bottom: 40px;
}

.controls {
display: flex;
justify-content: center;
align-items: center;
margin-top: 20px;
}

button {
font-size: 30px;
padding: 10px;
margin: 0 10px;
border: none;
background-color: transparent;
cursor: pointer;
}

.progress-bar {
width: 500px;
height: 10px;
background-color: #ddd;
margin-top: 20px;
}

#progress {
height: 100%;
background-color: #0066cc;
width: 0%;
}


.music-player {
    --primary-color: #ddd;
    --secondary-color: #999;
    --green-color: #2d5;
    --padding: 1em;
    background-color: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 75%;
    height: 7rem;
    padding: var(--padding);
    color: var(--primary-color);
    opacity: 80%;
    border-radius: 10px;
    bottom: 5px;
}
i{
    color: var(--secondary-color);
}
i:hover{
    color: var(--primary-color);
}

.song-bar {
    position: absolute;
    left: var(--padding);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 1.5rem;
    width: 25%;
}

.song-info {
    display: flex;
    align-items: center;
    gap: 1em;
}
.song-image {
    width: 100px;
    height: 100px;
    display: block;
    position: relative;
    background-image: url('/Profile/images/bg.png');
    background-size: cover;
    border-radius: 50%;
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.08);
    margin-left: 15px;
}

.song-image::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: black;
}

.song-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    
}

.song-description p {
    margin: 0.2em;
}

.title,
.artist {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}
.title:hover,
.artist:hover {
    text-decoration: underline;
}
.artist{
    color: var(--secondary-color);
}
.icons{
    display: flex;
    gap: 1em;
}
.progress-controller{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    vertical-align: middle;
    gap: 0.5em;
    color: var(--secondary-color);
}
.controls{
    display: flex;
    align-items: center;
    justify-content: center;
}
.controls div{
    width: 40px;
    height: 40px;
    margin: 10px;
    background: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #f53192;
    box-shadow: 0 10px 20px rgba(255, 26, 26, 0.22);
    cursor: pointer;
}

.controls div:nth-child(3){
    transform: scale(1.5);
    background: #f53192;
    color: #fff;
}

#play-button, #forward-button, #backward-button, #shuffle-button, #repeat-button{
    color: black;
}

.progress-container{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    vertical-align: auto;
    gap: 1em;
}
.progress-bar{
    height: 10px;
    border-radius: 10px;
    width: 40%;
    align-content: center;
    background-color: #ccc4;
}
.progress{
    -webkit-appearance: none;
    height: 6px;
    width: 30%;
    border-radius: 10px;
    background-color: var(--secondary-color);
    cursor: pointer;
    margin: 10px 0;
}

.progress::-webkit-slider-thumb{
    -webkit-appearance: none;
    background-color: #f53192;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 5px solid #fff;
    box-shadow: 0 5px 5px rgba(255, 26, 26, 0.22);
}

.other-features{
    position: absolute;
    right: var(--padding);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
}
.volume-bar{
    display: flex;
    align-items: center;
    gap: .7em;
}

.volume-bar .progress{
    width: 75%;
}

.side-bar{
    position: relative;
    width: 20%;
    height: 50%;
    /* border: 1px solid #fff; */
    background-color: black;
    color: #fff;
    top: 25%;
    margin-right: -20%;
    margin-left: 2.5%;
    opacity: 90%;
    border-radius: 10px;
}

.side-bar h1 {
    font-size: 20px;
    margin: 15px 0px 0px 0px;
    font-weight: 500;
    text-align: center;
}

.side-bar .playlists {
    margin:  20px 0px 0px 20px;
}

.side-bar .playlists h4 {
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 10px;
    color: #4c5262;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: .3s linear;
}

.side-bar .playlists h4:hover {
    color: #fff;
}
.side-bar .playlists h4 span{
    position: relative;
    margin-right: 25px;
}
.side-bar .playlists h4 span::before{
    content: '';
    position: absolute;
    width: 4px;
    height: 4px;
    border: 2px solid #4c5262;
    border-radius: 50%;
    top: -4px;
    transition: .3s linear;
}
.side-bar .playlists h4:hover span::before{
    border: 2px solid #fff;
}
.side-bar .playlists h4 .fas{
    display: none;
}
.side-bar .playlists .active{
    color: #36e2ec;
}
.side-bar .playlists .active span{
    display: none;
}
.side-bar .playlists .active .fas{
    display: flex;
    margin-right: 20px;
}
.side-bar .songs {
    width: 100%;
    height: 300px;
    /*border: 1px solid #fff; */
    margin-top: 20px;
}
.side-bar .songs li{
    position: relative;
    list-style-type: none;
    padding: 5px 0px 5px 20px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
    transition: .3s linear;
}
.side-bar .songs li:hover{
    background: rgb(105, 105, 170,.1);
}
.side-bar .songs li span{
    font-size: 12px;
    font-weight: 600;
    color: #4c5262;
}
.side-bar .songs li img{
    width: 32px;
    height: 32px;
    margin-left: 15px;
}
.side-bar .songs li h5{
    font-size: 11px;
    margin-left: 15px;
}

.side-bar .songs li h5 .subtitle{
    font-size: 10px;
    color: #4c5262;
}

.side-bar .songs li .fas{
    position: absolute;
    right: 15px;
    top: 12px;
    font-size: 20px;
}